@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('/deploy/pyw_dol_party/static/font/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{font-family: 'GowunDodum-Regular';}
