@font-face {
    font-family: 'Pre-M';
    src: url("https://doheumpark.github.io/deploy/pyw_dol_party/static/font/Pretendard-Medium.woff2") format("woff2"),
        url("https://doheumpark.github.io/deploy/pyw_dol_party/static/font/Pretendard-Medium.woff") format("woff");
    font-style: normal; font-weight: normal;
}
*{font-family: 'Pre-M';}
